<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382333459045-e78n10cm4d43p79a9j82j51a6n8o51de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382333459045-e78n10cm4d43p79a9j82j51a6n8o51de</string>
	<key>API_KEY</key>
	<string>AIzaSyCJT2jBaSmZpw6G4shyzTG8rVjhoBg8H5c</string>
	<key>GCM_SENDER_ID</key>
	<string>382333459045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.tildayngman.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-tilda-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-tilda-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382333459045:ios:19a439fd715707161a848c</string>
</dict>
</plist>